html {
	
	font-family: Roboto; 
	
}


.flex-container-header {
  display: flex;
  background-color: rgb(31,41,55);
  width: 100%;
  	color: white;
	flex-direction: row;
}

  .flex-container-header .header {
    text-align: center;
    margin: 0;
  }
  
  

  .flex-container-lower {
    text-align: center;
    padding: 20px;
  }

  .imgs {
    flex-direction: column;
    gap: 15px; /* Add spacing between images */
  }

.flex-container button{
	
	background-color:rgb(56, 130, 246);
	border-width: 3px;
	border-color: rgb(56, 130, 246);
	color: white; 
	
	
}

.flex-container-header .header{

height: 80px;
margin-left: 0;
flex: 1;  

}
.flex-container-header .links{

height: 80px;
display: flex;
flex-direction: row;   
margin-right: 0;
flex: 1;
  
}

.flex-container-header .link{

height: 80px;
padding-right: 10px;
padding-top: 40px; 
display: flex; 
flex: 0.3;  

}



.flex-container {
  display: flex; 
     background-color: rgb(31,41,55);
	 width: 100%;
	 color: white;
}


.flex-container div{
  margin-left: 10%;
  margin-right: 10%; 
  height: 300px;
  flex: 1;
}

.one {

display: flex;
	
}

.one {


  flex: 1;
  flex-direction: column; 
	
}


.flex-container-body {
  display: flex;
  background-color: white;
	flex: 1;
	width: 100%;
	flex-direction: column;	
	align-items: center;
}

.info-head {
	
	padding-bottom: 2%;
	padding-top: 2%;
	
}

.imgs {
  display: flex;
  background-color: white;	
	flex-direction: row;
		
}

.img {
	
flex: 1;
padding: 2%;  
	
}

.square {
  height: 50px;
  width: 50px; 
  outline: 2px solid grey; 
  border-radius: 3px;
}

.caption {
	
	padding-top: 20px;	
	padding-bottom: 20px;
	
}

.flex-container-lower {
	display: flex; 
	background-color: rgb(229, 231, 235);
	height: 80px; 
	width: 100%;
	flex-direction: column; 
	align-items: center; /* Centers content horizontally */
    justify-content: center; /* Centers content vertically */ 	
	
}

.quote {
	
	font-style: italic;  

	
}

.flex-container-lowest {
	
	display: flex; 
	height: 150px; 
	width: 100%;
	flex-direction: row; 
	align-items: center; 
    justify-content: center; 
	
}

.text {
	
	padding-right: 60px;
	
}

.call-to-action {
	
	display: flex; 
	background-color: blue;
	flex: 1.25;
	max-width: 400px; /* Set a smaller maximum width */
	width: 100%; 
	flex-direction: row; 
	align-items: center; 
    justify-content: center; 
	border-radius: 8px; 
	
}


footer {
	
	display: flex; 
	align-items: center; 
	justify-content: center; 
	flex-direction: row;
	height: 80px;
	background-color: rgb(229, 240, 235);	
	
}

footer div{
	
	display: flex; 
	padding-right: 30px;
	flex-direction: row;
	
}

@media screen and (max-width: 720px){ 


.flex-container-header {
	
	display: flex; 
	align-items: center;
	justify-content: center;
	flex: unset; 
	
}

   .flex-container-header .header {
    text-align: center;
	align-items: center;
	justify-content: center;
	margin-left: 30px;
	flex: unset;  
  }

	.links {
		
		font-size: 10px;
		content-visibility: hidden;
	}

  .flex-container-lowest {
    text-align: center;
	flex: 1; 
    padding: 20px;
  }

  .flex-container-lower {
    text-align: center;
	flex: 1; 
    padding: 20px;
  }

  .imgs {
    flex-direction: column;
	flex: 1; 
    gap: 10px; /* Add spacing between images */
  }


 }